/HelloWorld/nbproject/private/
/HelloWorld/build/
/AboutMe/nbproject/private/
/AboutMe/build/
/Person/nbproject/private/
/Person/build/
/MathOperations/nbproject/private/
/MathOperations/build/
/Booleans/nbproject/private/
/Booleans/build/
/ScannerUserData/nbproject/private/
/ScannerUserData/build/
/Quiz/nbproject/private/
/Quiz/build/
/Repeater/nbproject/private/
/Repeater/build/
/Doubles/nbproject/private/
/Doubles/build/
/HighOrLow/nbproject/private/
/HighOrLow/build/
/ChooseYourOwnAdventure/nbproject/private/
/Functions/nbproject/private/
/Functions/build/
/ArrayFun/nbproject/private/
/ArrayFun/build/
/ForLoopFun/nbproject/private/
/ForLoopFun/build/
/ChooseYourOwnAdventure/build/
/Car/nbproject/private/
/CarProject/nbproject/private/
/CarNew/nbproject/private/
/CarNew/build/
/CarNew/dist/
/MathIO/nbproject/private/
/MathIO2/nbproject/private/
/MathIO2/build/
/Puzzles/nbproject/private/
/Puzzles/build/
/SearchList/nbproject/private/
/SearchList/build/
/ChooseYourOwnAdventureNest/nbproject/private/
/ChooseYourOwnAdventureNest/build/
/HatShop/nbproject/private/
/HatShop/build/