/HelloWorld/nbproject/private/
/HelloWorld/build/
/AboutMe/nbproject/private/
/AboutMe/build/
/Person/nbproject/private/
/Person/build/
/MathOperations/nbproject/private/
/MathOperations/build/
/Booleans/nbproject/private/
/Booleans/build/
/ScannerUserData/nbproject/private/
/ScannerUserData/build/
/Quiz/nbproject/private/
/Quiz/build/
/Repeater/nbproject/private/
/Repeater/build/
/Doubles/nbproject/private/
/Doubles/build/
/HighOrLow/nbproject/private/
/HighOrLow/build/
/ChooseYourOwnAdventure/nbproject/private/
/Functions/nbproject/private/
/Functions/build/